# ══════════════════════════════════════════════════════════════
#  TUXTIMES .GITIGNORE
# ══════════════════════════════════════════════════════════════

# --- Dependencias del Sistema ---
node_modules/
jspm_packages/
web_modules/

# --- Compilación y Salidas (Builds) ---
dist/
dist-ssr/
*.local
out/
build/

# --- Firebase (Cachés, Deploys y CLI) ---
.firebase/
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log
functions/node_modules/
src/firebase.js

# --- Logs de Errores y Sistema ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- Variables de Entorno (¡Nunca subir llaves privadas!) ---
.env
.env.local
.env.*.local
.env.development
.env.production

# --- Directorios y Archivos de Editores (IDE / VS Code) ---
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.classpath
.project
.settings/

# --- Archivos Basura del Sistema Operativo ---
.DS_Store
.DS_Store?
._*
Thumbtack.db
Thumbs.db
desktop.ini

# --- Pruebas / Cobertura ---
coverage/
*.lcov

# --- Cachés de Herramientas ---
.eslintcache
.stylelintcache
.vite-inspect/
.nuxt/
.cache/
.jj/